body
{
    background-color: rgb(255, 255, 255);
    font-family: 'Overpass', sans-serif;
    color: #201f1f;
}

.navbar
{
    height: 80px;
}

.up-btn
{

    margin-left: auto;
    margin-right:auto;
    width: 62px;
    position: fixed;
    bottom: 100px;
    right: 40px;
}

.up-btn button
{
    background: transparent;
    border: none;
}

.back-btn button
{
    background: transparent;
    border: none;
}

.back-btn button i
{
    background: transparent;
    border: none;
    margin-left: 150px;
}

button i 
{
    font-size: 60px;
    color: rgb(63, 63, 63);
    transition: transform ease-in-out .1s;

}

button i:hover
{
    cursor: pointer;
    color: rgb(85, 85, 85);
    transform: scale(1.2);
}

button i:active
{
    color: rgb(44, 43, 43);
    transition: transform ease-in-out .1s;
    transform: scale(1.0);
}

#site-wrapper
{
    min-height: 1000px;
    padding-top: 50px;
}

#content-wrapper
{
    /* background-color: rgb(29, 189, 238) ; */
    padding: 30px;
}