body
{
    background-color: #E9C46A;
    font-family: 'Overpass', sans-serif;
    color: whitesmoke;
}

.navbar
{
    height: 80px;
}

.up-btn button
{
    margin-left: 48%;
    margin-right: 52%;
    background: transparent;
    border: none;
}

.back-btn button
{
    background: transparent;
    border: none;
}

button i 
{
    font-size: 60px;
    color: whitesmoke;
    transition: transform ease-in-out .1s;

}

button i:hover
{
    cursor: pointer;
    color: rgb(85, 85, 85);
    transform: scale(1.2);
}

button i:active
{
    color: rgb(44, 43, 43);
    transition: transform ease-in-out .1s;
    transform: scale(1.0);
}

#site-wrapper
{
    min-height: 1000px;
    padding-top: 100px;
}

#content-wrapper
{
    background-color: #F25F5C;
    padding: 20px;
    min-height: 800px;
}

.box-shadow
{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    min-height: 800px;
}

.sort-btn
{
    background: transparent;
    border: none;
    font-size: 17px;
    color: whitesmoke;
}

.sort-btn:hover
{
    text-decoration: underline;
}
