
.dropdown-menu
{
    background-color: dimgray;
}

.dropdown-menu .col .link:hover
{
    color: #FFE066;
    text-decoration: underline;
}

button
{
    color: #FFE066;
    background: transparent;
    border: none;
}