#search-bar input
{
    background-color: whitesmoke;
    margin-left: 63px;
    width: 975px;
}



#search-bar input:focus
{
    border: 3px whitesmoke solid;
    outline: none;
}

.card
{
    /* filter: invert(42%) sepia(0%) saturate(1%) hue-rotate(11deg) brightness(80%) contrast(97%);  */
    background: transparent;
    border-style: none;
    transition: transform .2s ease-in-out;
    width: 140px;
    cursor: pointer;
}

.card:hover
{
    text-decoration: underline;
    transform: scale(1.1);
}

.card-img-top
{
    padding: 20px;
}

.card-text
{
    text-align: center;
    max-width: 140px;
    text-decoration: none;
    color: whitesmoke;
}

h2
{
    text-align: center;
}

.row
{
    width: 900px;
}

#tiles-container
{
    margin-left: 140px;
    width: 900px;
}
